:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --color-light: #23262d;
  --color-accent: rgb(var(--accent));
  --color-accent-light: rgb(var(--accent-light));

  --radii-md: 8px;
  --radii-full: 9999px;

  --shadow-sm: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  background-size: 224px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

main {
  width: 100%;
  padding: 0 1rem;
  color: white;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-light);
  margin-top: auto;
  font-size: 14px;
  & a {
    display: flex;
    gap: 6px;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
  }
}
